.sectin-coming-soon {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  padding-right: 10%;
  padding-left: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff8f6;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.img-animated {
  width: 100%;
  max-width: 500px;
}

.text-block-6 {
  margin-top: 40px;
  color: #273339;
  font-size: 16px;
  font-weight: 400;
}

.wrap-right {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #34e174;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.img-coming-soon {
  max-width: 600px;
}

.wrap-img-coming-soon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 80%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .wrap-right {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .text-block-6 {
    font-size: 14px;
  }
}

@media screen and (max-width: 479px) {
  .text-block-6 {
    margin-top: 40px;
  }
}

